.alert {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;

  &_status {
    &_default {
      background: $color-alert-default-bg;
      border-color: $color-alert-default-border;
      color: $color-alert-default-text;
    }
    &_info {
      background: $color-alert-info-bg;
      border-color: $color-alert-info-border;
      color: $color-alert-info-text;
    }
    &_success {
      background: $color-alert-success-bg;
      border-color: $color-alert-success-border;
      color: $color-alert-success-text;
    }
    &_warning {
      background: $warning-light-04;
      border-color: $warning-light-32;
      color: $warning;
    }
    &_danger {
      background: $color-alert-error-bg;
      border-color: $color-alert-error-border;
      color: $color-alert-error-text;
    }
  }
  &_size {
    &_small {
      @extend .typography-regular-0;
      gap: 6px;
      svg {
        width: 12px;
        height: 12px;
      }
      &.alert_type_default {
        padding: 8px 12px;
      }
    }
    &_middle {
      @extend .typography-regular;
      gap: 8px;
      svg {
        width: 16px;
        height: 16px;
      }
      &.alert_type_default {
        padding: 12px 16px;
      }
    }
    &_large {
      @extend .typography-regular-3;
      gap: 8px;
      svg {
        width: 18px;
        height: 18px;
      }
      &.alert_type_default {
        padding: 16px;
      }
    }
  }
  &_type {
    &_default {
      border-style: solid;
      border-width: 1px;
    }
    &_text {
      border: none;
      background: none !important;
    }
  }

  svg path {
    fill: currentColor;
  }
}
