.button {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  user-select: none;
  line-height: 20px;
  svg {
    flex-shrink: 0;
    path {
      transition: 0.1s;
    }
  }
  &.clicked {
    box-shadow: 0 0 0 4px #0000000a;
  }
  &.button_variant_outline {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  &.outline-primary {
    color: $brand;
    border: 1px solid $brand-20;
    background: $brand-4;
    &:hover {
      background: $brand-10;
    }
  }
  &.align-left {
    text-align: left;
    justify-content: left;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &_p {
    &_small {
      padding: 8px !important;
    }
    &_normal {
      padding: 16px !important;
    }
    &_big {
      padding: 24px !important;
    }
  }
  // Size
  &_size {
    &_full_width {
      width: 100%;
      flex-grow: 1;
      justify-content: center !important;
    }
    &_inline {
      margin-left: -12px;
      padding-left: 12px;
      width: auto;
      column-gap: 4px;
      display: inline-flex;
    }
    &_square {
      padding-left: 8px;
      padding-right: 8px;
    }
    &_auto {
      width: auto;
      display: inline-flex;
    }
  }
  // Height
  &_height {
    &_small {
      padding: 5px 16px;
      &.button_variant_outline {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
    &_big {
      padding: 16px;
      &.button_variant_outline {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
  // Variants
  &_variant {
    //  === Variant: filled ===
    &_filled {
      color: white;
      svg path {
        fill: white;
      }

      // --- Variant: filled | Color: default ---
      &.button_color_default {
        border: none;
        background-color: rgba(51, 51, 51, 1);
        &:hover {
          background-color: $black;
        }
        &:active,
        &:focus,
        &.clicked {
          background-color: rgba(51, 51, 51, 1);
          box-shadow: 0 0 0 4px $black-20;
        }
        &.disabled {
          background-color: $black-12;
          border-color: rgba(0, 0, 0, 0.08);
        }
      }
      // --- Variant: filled | Color: primary ---
      &.button_color_primary {
        border: none;
        background-color: $brand;

        &:hover {
          background-color: $brand-80;
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: $brand;
          border-color: $brand-20;
          box-shadow: 0 0 0 4px $brand-20;
        }
        &.disabled {
          background-color: $brand;
        }
      }
      // --- Variant: filled | Color: success ---
      &.button_color_success {
        border: none;
        background-color: $success;
        &:hover {
          background-color: $green;
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: $success;
          border-color: $success-20;
          box-shadow: 0 0 0 4px $success-20;
        }
        &.disabled {
          background-color: $green-light;
        }
      }
      // --- Variant: filled | Color: danger ---
      &.button_color_danger {
        border: none;
        background-color: $danger-80;
        &:hover {
          background-color: $danger;
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: $danger-80;
          border-color: $danger-light-20;
          box-shadow: 0 0 0 4px $danger-light-12;
        }
        &.disabled {
          background-color: $danger;
        }
      }
    }
    //  === Variant: outline ===
    &_outline {
      border-width: 1px;
      border-style: solid;
      background-color: white;

      // --- Variant: outline | Color: default ---
      &.button_color_default {
        color: $black-80;
        border-color: $black-12;
        svg path {
          fill: $black-80;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: $black-04;
          box-shadow: 0 0 0 4px $black-04;
        }
        &.disabled {
          background: white;
          color: $black-80;
          svg path {
            fill: $black-80;
          }
        }
        &.button_pressed {
          background-color: $brand-4;
          color: $brand;
          border-color: $brand-20;
          &:hover {
            background-color: $brand-10;
          }
        }
      }
      // --- Variant: outline | Color: primary ---
      &.button_color_primary {
        background-color: white;
        color: $brand;
        border-color: rgba(65, 126, 225, 0.64);
        svg path {
          fill: $brand;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $brand-20;
        }
        &.button_pressed {
          background-color: $brand-4;
          color: $brand;
          border-color: $brand-20;
          &:hover {
            background-color: $brand-10;
          }
        }
      }
      // --- Variant: outline | Color: success ---
      &.button_color_success {
        background: none;
        color: $success;
        border-color: $success-20;
        svg path {
          fill: $success;
        }
        &:hover {
          background-color: $success-04;
          color: $success;
          border-color: $success-20;
          svg path {
            fill: $success;
          }
        }

        &:focus,
        &:active,
        &.clicked {
          background-color: white;
          color: $success;
          border-color: $success-20;
          box-shadow: 0 0 0 4px $success-12;
          svg path {
            fill: $success;
          }
        }
      }
      // --- Variant: outline | Color: danger ---
      &.button_color_danger {
        background: none;
        color: $danger;
        border-color: $danger-light-20;
        svg path {
          fill: $danger;
        }

        &:hover {
          background-color: $danger-04;
          color: $danger-dark;
          border-color: $danger-light-20;
          svg path {
            fill: $danger-dark;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: white;
          color: $danger-dark;
          border-color: $danger-20;
          box-shadow: 0 0 0 4px $danger-light-12;
          svg path {
            fill: $danger-dark;
          }
        }
        &.disabled {
          background-color: white;
          color: $danger;
          border-color: $danger-20;
          svg path {
            fill: $danger;
          }
        }
      }
    }
    //  === Variant: link ===
    &_link {
      // --- Variant: link | Color: default ---
      &.button_color_default {
        color: $black-80;

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $black-04;
        }
        &.disabled {
          background: $black-02;
        }
      }
      // --- Variant: link | Color: primary ---
      &.button_color_primary {
        color: $blue;

        svg path {
          fill: $blue;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $brand-4;
        }
        &.disabled {
          background: $brand-2;
        }
      }
      // --- Variant: link | Color: success ---
      &.button_color_success {
        color: $success;
        svg path {
          fill: $success;
        }
        &:hover {
          background-color: $success-04;
          color: $success;
          svg path {
            fill: $success;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          box-shadow: 0 0 0 4px $success-12;
          background-color: white;
          color: $success;
          svg path {
            fill: $success;
          }
        }
      }
      // --- Variant: link | Color: danger ---
      &.button_color_danger {
        color: $danger;
        svg path {
          fill: $danger;
        }

        &:hover {
          background-color: $danger-04;
          color: $danger-dark;
          svg path {
            fill: $danger-dark;
          }
        }
        &:focus,
        &:active,
        &.clicked {
          box-shadow: 0 0 0 4px $danger-light-12;
          background-color: white;
          color: $danger-dark;
          svg path {
            fill: $danger-dark;
          }
        }
        &.disabled {
          background-color: white;
          color: $danger;
          svg path {
            fill: $danger;
          }
        }
      }
    }
  }
}
