.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  user-select: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;

  svg {
    flex-shrink: 0;
    path {
      transition: 0.1s;
    }
  }
  &--clicked {
    box-shadow: 0 0 0 4px #0000000a;
  }
  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &--full-width {
    width: 100%;
  }
  // Type {
  &_type {
    &_label-only {
      padding-right: 16px;
      padding-left: 16px;
      &.button--with-dropdown {
        padding-right: 12px;
      }
    }
    &_label-with-icon {
      padding-right: 16px;
      padding-left: 14px;
      &.button--with-dropdown {
        padding-right: 12px;
      }
    }
    &_icon-only {
      padding-right: 8px;
      padding-left: 8px;
      &.button--with-dropdown {
        padding-right: 12px;
        padding-left: 14px;
      }
    }
  }
  // Size
  &_size {
    &_large {
      min-height: 44px;
      font-weight: 500;
      &.button__type_icon-only {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &_middle {
      min-height: 36px;
    }
    &_small {
      min-height: 30px;
      font-size: 14px;
      letter-spacing: 0.25px;
    }
  }
  // Variants
  &_variant {
    //  === Variant: filled ===
    &_filled {
      color: white;
      svg path {
        fill: white;
      }

      // --- Variant: filled | Color: default ---
      &.button_color_default {
        border: none;
        background-color: rgba(51, 51, 51, 1);
        &:hover {
          background-color: $black;
        }
        &:active,
        &:focus,
        &.button--clicked {
          background-color: rgba(51, 51, 51, 1);
          box-shadow: 0 0 0 4px $black-20;
        }
        &.button--disabled {
          background-color: $black-12;
          border-color: rgba(0, 0, 0, 0.08);
        }
      }
      // --- Variant: filled | Color: primary ---
      &.button_color_primary {
        border: none;
        background-color: $brand;

        &:hover {
          background-color: $brand-80;
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: $brand;
          border-color: $brand-20;
          box-shadow: 0 0 0 4px $brand-20;
        }
        &.button--disabled {
          background-color: $brand;
        }
      }
      // --- Variant: filled | Color: success ---
      &.button_color_success {
        border: none;
        background-color: $success;
        &:hover {
          background-color: $green;
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: $success;
          border-color: $success-20;
          box-shadow: 0 0 0 4px $success-20;
        }
        &.button--disabled {
          background-color: $green-light;
        }
      }
      // --- Variant: filled | Color: danger ---
      &.button_color_danger {
        border: none;
        background-color: $danger-80;
        &:hover {
          background-color: $danger;
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: $danger-80;
          border-color: $danger-light-20;
          box-shadow: 0 0 0 4px $danger-light-12;
        }
        &.button--disabled {
          background-color: $danger;
        }
      }
    }
    //  === Variant: outline ===
    &_outline {
      border-width: 1px;
      border-style: solid;
      background-color: white;

      // --- Variant: outline | Color: default ---
      &.button_color_default {
        color: $black-80;
        border-color: $black-12;
        svg path {
          fill: $black-80;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: $black-04;
          box-shadow: 0 0 0 4px $black-04;
        }
        &.button--disabled {
          background: white;
          color: $black-80;
          svg path {
            fill: $black-80;
          }
        }
        &.button--pressed {
          background-color: $brand-4;
          color: $brand;
          border-color: $brand-20;
          &:hover {
            background-color: $brand-10;
          }
        }
      }
      // --- Variant: outline | Color: primary ---
      &.button_color_primary {
        background-color: white;
        color: $brand;
        border-color: rgba(65, 126, 225, 0.64);
        svg path {
          fill: $brand;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $brand-20;
        }
        &.button--pressed {
          background-color: $brand-4;
          color: $brand;
          border-color: $brand-20;
          &:hover {
            background-color: $brand-10;
          }
        }
      }
      // --- Variant: outline | Color: success ---
      &.button_color_success {
        background: none;
        color: $success;
        border-color: $success-20;
        svg path {
          fill: $success;
        }
        &:hover {
          background-color: $success-04;
          color: $success;
          border-color: $success-20;
          svg path {
            fill: $success;
          }
        }

        &:focus,
        &:active,
        &.button--clicked {
          background-color: white;
          color: $success;
          border-color: $success-20;
          box-shadow: 0 0 0 4px $success-12;
          svg path {
            fill: $success;
          }
        }
      }
      // --- Variant: outline | Color: danger ---
      &.button_color_danger {
        background: none;
        color: $danger;
        border-color: $danger-light-20;
        svg path {
          fill: $danger;
        }

        &:hover {
          background-color: $danger-04;
          color: $danger-dark;
          border-color: $danger-light-20;
          svg path {
            fill: $danger-dark;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: white;
          color: $danger-dark;
          border-color: $danger-20;
          box-shadow: 0 0 0 4px $danger-light-12;
          svg path {
            fill: $danger-dark;
          }
        }
        &.button--disabled {
          background-color: white;
          color: $danger;
          border-color: $danger-20;
          svg path {
            fill: $danger;
          }
        }
      }
    }
    //  === Variant: link ===
    &_link {
      // --- Variant: link | Color: default ---
      &.button_color_default {
        color: $black-80;

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $black-04;
        }
        &.button--disabled {
          background: $black-02;
        }
      }
      // --- Variant: link | Color: primary ---
      &.button_color_primary {
        color: $blue;

        svg path {
          fill: $blue;
        }

        &:hover {
          background-color: $black-02;
          color: $brand;
          svg path {
            fill: $brand;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          background-color: white;
          box-shadow: 0 0 0 4px $brand-4;
        }
        &.button--disabled {
          background: $brand-2;
        }
      }
      // --- Variant: link | Color: success ---
      &.button_color_success {
        color: $success;
        svg path {
          fill: $success;
        }
        &:hover {
          background-color: $success-04;
          color: $success;
          svg path {
            fill: $success;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          box-shadow: 0 0 0 4px $success-12;
          background-color: white;
          color: $success;
          svg path {
            fill: $success;
          }
        }
      }
      // --- Variant: link | Color: danger ---
      &.button_color_danger {
        color: $danger;
        svg path {
          fill: $danger;
        }

        &:hover {
          background-color: $danger-04;
          color: $danger-dark;
          svg path {
            fill: $danger-dark;
          }
        }
        &:focus,
        &:active,
        &.button--clicked {
          box-shadow: 0 0 0 4px $danger-light-12;
          background-color: white;
          color: $danger-dark;
          svg path {
            fill: $danger-dark;
          }
        }
        &.button--disabled {
          background-color: white;
          color: $danger;
          svg path {
            fill: $danger;
          }
        }
      }
    }
  }
}
