$date-selector__slide-animation-duration: .5s;

.date-selector {
  background: white;
  font-family: Roboto, 'sans-serif';

  &__wrapper {
    position: relative;
    padding: 16px;
    max-width: calc(44px * 7 + 32px);
    overflow: hidden;

    &--two-panels {
      max-width: calc(44px * 7 * 2 + 32px + 32px);
    }
    &--range-selector {
      .date-selector__cell {
        &--in-range,
        &--selected-start,
        &--selected-end {
          background-color: var(--mtui-clr-primary-12);
        }
      }
    }
    &--month-selector {
      max-width: calc(77px * 4 + 32px);

      .date-selector__grid {
        grid-template-columns: repeat(4, 77px);
      }
      .date-selector__cell {
        &--today {
          .date-selector__cell-inner {
            border: 1px solid var(--mtui-clr-black-48);
          }

          &:not(.date-selector__cell--hover):not(.date-selector__cell--selected) .date-selector__cell-inner {
            width: 73px;
            height: 36px;
            top: 0;
            left: 2px;
          }
        }

        .date-selector__cell-inner {
          border-radius: 40px;
        }
      }
    }
  }

  &__panel {}
  &__scrolled-panels {
    position: absolute;
    background: white;

    transition: transform $date-selector__slide-animation-duration ease-in-out;
    will-change: transform;

    &--slide-left {
      animation: slide-left $date-selector__slide-animation-duration ease-in-out;
    }
    &--slide-right {
      left: calc(-44px * 7 - 16px);
      animation: slide-right $date-selector__slide-animation-duration ease-in-out;
    }
  }

  &__header {
    position: absolute;
    z-index: 1000000;
    width: calc(100% - 32px);
    margin-bottom: 8px;
  }

  &__nav-button {
    background: none;
  }

  &__month-label {
    height: 40px;
    white-space: nowrap;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.64);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 44px);
  }

  &__cell {
    position: relative;
    height: 36px;
    margin: 4px 0;
    transition: all .1s linear;
    color: var(--mtui-clr-black-8);

    &:not(.date-selector__cell--weekday) {
      cursor: pointer;
    }
    &--weekday {
      height: 12px !important;
      margin: 8px 0 4px !important;
      user-select: none;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      text-align: center;

      color: rgba(0, 0, 0, 0.48) !important;

      &.date-selector__cell--weekend {
        color: rgba(228, 73, 63, 0.8) !important;
      }
    }
    &--empty {
      background: none;
      pointer-events: none;
    }
    &--weekend {
      color: var(--mtui-clr-danger-light);
    }
    &--disabled {
      color: var(--mtui-clr-black-12);
      cursor: default !important;

      .date-selector__cell--weekend {
        color: var(--mtui-clr-danger-48);
      }
    }
    &--selected {
      &-start {
        border-radius: 50% 0 0 50%;
      }
      &-end {
        border-radius: 0 50% 50% 0;
      }

      .date-selector__cell-inner {
        background-color: var(--mtui-clr-primary);
        color: white;
        font-weight: bold;
      }
    }
    &--hover {
      .date-selector__cell-inner {
        background-color: var(--mtui-clr-primary-12);
        font-weight: bold;
      }
    }
    &--today {
      .date-selector__cell-inner {
        border: 1px solid rgba(0, 0, 0, 0.48);
      }

      &:not(.date-selector__cell--hover):not(.date-selector__cell--selected) .date-selector__cell-inner {
        width: 36px;
        height: 36px;
        top: 0;
        left: 4px;
      }
    }

    &-inner {
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 44px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      transition: all .1s linear;
    }
  }
  &__input {
    height: 36px;
    padding: 6px 8px 6px 12px;

    &-wrapper {
      &:first-child {
        flex: 1;
      }
      &:last-child {
        width: 84px
      }
    }

    .select__options {
      top: 34px;
      max-height: 231px;
    }
  }
}

@keyframes slide-left {
  from {
    transform: translateX(calc(-44px * 7 - 32px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(calc(44px * 7 + 32px));
  }
  to {
    transform: translateX(0);
  }
}

.date-picker {
  &__wrapper {
    .text_field__wrapper {
      width: 100%;
    }
  }
  &__popup {
    position: absolute;

    .popup__body {
      display: flex;
      justify-content: center;
    }
    .popup__header {
      display: none;
    }
  }
}
