.radio {
  &__wrapper {
    padding: 12px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    cursor: pointer;
    &-disabled {
      cursor: default;
      pointer-events: none;
    }
    &-button {
      padding: 21px 16px 21px 22px;
      border-radius: 8px;
      border: 1px solid #0000001f;
      column-gap: 12px;
      transition: 0.1s;
      &:hover {
        border: 1px solid #417ee133;
        background: #417ee10a;
      }
      &.radio__wrapper-checked {
        background: #417ee10a;
        border: 1px solid #417ee1a3;
        .radio__label {
          color: #1e5bbe;
        }
      }
    }
    &:hover {
      .radio__input {
        border: 2px solid #000000cc;
        &-checked {
          border: 2px solid $brand;
          &:after {
            background: $brand;
          }
        }
      }
    }
    &:focus,
    &:active,
    &.clicked {
      .radio__input {
        border: 2px solid #0000007a;
        &:before {
          top: -14px;
          left: -14px;
          width: 44px;
          height: 44px;
        }
        &-checked {
          border: 2px solid $brand-80;
        }
      }
    }
  }
  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    user-select: none;
    flex: 1;
  }
  &__input {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #000000a3;
    transition: 0.1s;
    position: relative;
    flex-shrink: 0;
    &:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      left: 8px;
      top: 8px;
      position: absolute;
      border-radius: 10px;
      transition: 0.1s;
      background: $brand-80;
    }
    &-checked {
      border: 2px solid $brand-80;
      &:after {
        width: 10px;
        height: 10px;
        top: 3px;
        left: 3px;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 7px;
      left: 6px;
      transition: 0.2s;
      background: #0000000a;
      border-radius: 22px;
    }
  }
}
