.select {
  &__wrapper {
    background: white;
    border-radius: 8px;
    border: 1px solid #0000001f;
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    height: 52px;
    svg {
      flex-shrink: 0;
    }
    * {
      user-select: none;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    max-width: calc(100% - 26px);
  }
  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #0000007a;
  }
  &__value {
    color: #00000052;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  &__options {
    display: none;
    position: absolute;
    background: white;
    border-radius: 0 0 8px 8px;
    border: 1px solid #0000001f;
    width: calc(100% + 2px);
    left: -1px;
    top: 50px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
  }
  &-filled {
    .select__value {
      color: #000000cc;
    }
    .select__label {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.4px;
    }
  }
  &-error {
    border: 1px solid #e01b00a3;
  }
  &-opened {
    &.select__wrapper {
      box-shadow: 0 0 0 3px #0000000a;
      border-radius: 8px 8px 0 0;
    }
    .select__options {
      display: block;
      overflow-x: hidden;
    }
    .select__option {
      display: flex;
      align-items: center;
      padding: 16px;
      transition: 0.1s;
      font-size: 14px;
      &:hover {
        background: #00000005;
      }
      &:focus,
      &:active {
        background: white;
      }
    }
  }
  &-size_mini {
    height: 36px;
    padding: 8px;
    .select__options {
      top: 34px;
    }
    .select__option {
      padding: 8px;
    }
  }
  &-open_top.select-opened {
    &.select__wrapper {
      border-radius: 0 0 8px 8px;
    }
    .select__options {
      top: unset;
      bottom: 50px;
      border-radius: 8px 8px 0 0;
    }
    &.select-size_mini {
      .select__options {
        bottom: 34px;
      }
    }
  }
  &-disabled {
    pointer-events: none;
    opacity: 0.8;
    background: #00000005;
  }
}
