.text_field {
  flex: 1;
  &__wrapper {
    background: white;
    border-radius: 8px;
    border: 1px solid #0000001f;
    padding-left: 10px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    transition: 0.2s;

    &--borderless {
      border: none !important;
      box-shadow: none !important;
    }
  }
  &__bottom_label {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-top: 9px;
  }
  &__bottom_error {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #e01b00cc;
  }
  &__icon {
    flex-shrink: 0;
    height: 20px;
  }
  &__input {
    border: 0;
    outline: none;
    width: 100%;
    background: none;
    padding-left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-bottom: 6px;
    padding-top: 26px;
    &::placeholder {
      color: #0000007a;
    }
    &-hide_spin {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &:not(:hover) {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  &__input_wrapper {
    position: relative;
    width: 100%;
  }
  &__placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #0000007a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    pointer-events: none;
    padding: 16px 0;
    top: 0;
    transition: 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__clear {
    cursor: pointer;
  }

  &-focus {
    box-shadow: 0 0 0 3px #0000000a;
    .text_field__placeholder {
      font-size: 12px;
      padding: 8px 0;
      line-height: 14px;
    }
  }
  &-filled {
    .text_field__placeholder {
      font-size: 12px;
      padding: 8px 0;
      line-height: 14px;
    }
  }
  &-size_mini {
    &.text_field-focus {
      .text_field__placeholder {
        padding: 7px 0 !important;
        font-size: 14px;
        line-height: 20px;
      }
    }
    &.text_field-filled {
      .text_field__placeholder {
        opacity: 0;
        padding: 7px 0;
      }
    }
    .text_field__input {
      padding: 7px 0;
    }
    .text_field__placeholder {
      padding: 7px 0;
    }
  }
  &-disabled {
    pointer-events: none;
    opacity: 0.8;
    background: #00000005;
  }
  &-error {
    border: 1px solid #e01b00a3;
  }
}
