.typography-h1 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.typography-h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.typography-h3,
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.typography-medium-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.typography-medium-5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.typography-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.typography-medium-3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.typography-medium-4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.typography-regular-0 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.typography-regular-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.typography-regular-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.typography-regular-4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.typography-regular-5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.typography-light {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography-light-2 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.typography-bold-2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.typography-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: $brand;
  &:hover {
    text-decoration: underline;
  }
}

.typography-link-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: $brand;
  text-decoration: underline;
}

.typography-yellow {
  color: #f59b15;
}
